.bannerHome {
    margin: 0px 100px 45px 100px;
    height: 223px;
    border-radius: 25px;
    img {
        border-radius: 25px;
        object-fit: cover;
        mix-blend-mode: darken;
        filter: brightness(.6);     
    }
    &::after{
        content: "Chez vous, partout et ailleurs";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 48px;
        line-height: 223px;
    }
}